.macro-sheet .tabs,
.macro-sheet .tab > *:not(.stacked) {
  flex: 0;
}

.macro-sheet .tab-content {
  flex-grow: 1;
}

.macro-sheet .tab {
  height: 100%;
}

.macro-sheet .form-group.macro-marker-trigger textarea {
  height: calc(100% - 26px);
}
 