<header class="sheet-header">
    <img src="{{ icon }}" data-edit="{{ module }}.icon" height="64" width="64" title="{{ localize 'macro-marker.markerConfig.iconTooltip' }}">
    <button type="button" style="display: none;" name="{{ module }}.icon" value="{{ icon }}" data-target="{{ module }}.icon" data-type="image"></button>
    <h1><input name="{{ module }}.tooltip" type="text" value="{{ tooltip }} " placeholder="{{ localize 'macro-marker.markerConfig.nameTooltip' }}" title="{{ localize 'macro-marker.markerConfig.nameTooltip' }}"></h1>
</header>

<div class="form-group">
    <label>{{ localize "macro-marker.markerConfig.borderColour" }}</label>
    <input type="color" name="{{ module }}.colour" value="{{ colour }}" />
</div>

<div class="form-group stacked command macro-marker-trigger">
    <label>{{ localize "macro-marker.markerConfig.activateCondition" }}</label>
    <textarea name="{{ module }}.trigger">{{ trigger }}</textarea>
</div>

<footer class="sheet-footer flexrow">
    <button type="submit"><i class="fas fa-save"></i> {{ localize "MACRO.Save" }}</button>
    <button class="execute" type="button"><i class="fas fa-dice-d20"></i> {{ localize "MACRO.Execute" }}</button>
</footer>
